<%- include('./includes/header.ejs') %>
<%- include('./includes/navBar.ejs') %>
<section class="flex-categorie">
    <h1>Nos categories</h1>
    <div class="flex-categorie-container" >
        <img src="img/landing-page/6.png" alt="">
        <div  class="flex-categorie-data">
            <h2>Sacs Luxes</h2>
            <p>Explorez une personnalisation sans limites avec nos sacs papier sur mesure..</p>
            <p>Que vous recherchiez des dimensions discrètes ou des formats imposants, PaperLand vous offre une diversité de tailles pour répondre à tous vos besoins.  </p>
            <p>Chaque sac devient une toile vierge prête à accueillir votre identité visuelle, créant une connexion instantanée avec votre public.  </p>
            <p>Optez pour des dimensions adaptées à votre vision et démarquez-vous avec élégance.</p>
            <div class="contain-btn">
                <a href="" id="lux-modal" class="btn">En savoir plus </a>
            </div>
        </div>
    </div>

    <div class="border"></div>

    <div  class="flex-categorie-container">
        <div  class="flex-categorie-data">
            <h2>Sac à poignée torsadé </h2>
            <p>Une élégance personnalisable pour vos sacs à poignées torsadées à vôtre image.</p>
            <p> Paperland vous offre une personnalisation pour que chaque sac reflète votre style unique.</p>
            <div class="contain-btn">
                <a href="/size-torsade" class="btn">Guide des tailles</a>
            </div>
            <div class="border"></div>

        </div>
            <img src="img/categories/categories_img_2.png" alt="">
    </div>

    
<div class="flex-categorie-container" >
            <img src="img/categories/categories_img_3.png" alt="">
        <div  class="flex-categorie-data">
            <h2>Sac à poignet plate </h2>
            <p>Mariage parfait entre fonctionnalité et style pour nos sacs à poignées plates entièrement personnalisables à découvrir.</p>
            <p>Chez Paperland, les poignées plates, offriront une simplicité d'utilisation et deviendront une toile idéale pour votre créativité. </p>
            <p>Choisissez votre design, ajoutez votre touche unique, et laissez Paperland transformer chaque sac en une extension de votre marque.</p>
            <p>Optez pour l'élégance avec nos sacs à poignées plates.</p>
            <div class="contain-btn">
                <a href="/size-plate" class="btn">Guide des tailles</a>
            </div>
        </div>
    </div>
    <div class="border"></div>
</section>
<div id="containModal" class="modal"></div>
<%- include('./includes/footer.ejs') %>