<%- include('./includes/header.ejs') %>
<%- include('./includes/navBar.ejs') %>    

<section class="container-form" >
<h1>Contact nous</h1>

    <form action="" method="POST" class="contain-form">
        <h2>Comment peut on vous aidez ? </h2>
            <div>
                <label for="name"></label>
                <input type="text" name="name" id="" placeholder="Prénom">
            </div>
            <div>
                <label for="last-name"></label>
                <input type="text" name="last-name" id="" placeholder="Nom">
            </div>
            <div>
                <label for="mail"></label>
                <input type="email" name="mail" id="" placeholder="Email">
            </div>
            <div>
                <label for="msg"></label>
                <textarea name="msg" id="" placeholder="Votre Message"></textarea>
            </div>
            <div>
            <input type="submit" name="" id="">
            </div>
    </form>
</section>

<%- include('./includes/footer.ejs') %>