<%- include('./includes/header.ejs') %>
<%- include('./includes/navBar.ejs') %>    


<section class="delivery-section">
    <h2>Livraison</h2>
    <div class="contain-delivery">
    
            <img src="img/delivery-page/Logo_service_livraison.png" alt="">
      
        <div>
            <p>Nos delais de livraison à compter de la reception du bon à tirer signé sont de 4 semaines.</p>
        </div>
    </div>
</section>

<%- include('./includes/footer.ejs') %>