<%- include('./includes/header.ejs') %>
<%- include('./includes/navBar.ejs') %>
<section class="landing-section">
    <div class="contain-landing-page">
        <div class="landing-page-t">
            <h1>Paperland France</h1>
            <span>Facturation directe usine | Aucun intermédiaire</span>
                <img src="img/landing-page/première_page_texte.png" alt="presentaton bag picture">
                <div class="contain-btn">
                    <a href="mailto:agencepaperlandfrance@gmail.com" class="btn">Prendre Contact</a>
                </div>
        </div>
        <div class="landing-page-img">
            <img src="img/landing-page/site_paperland_premiere_page_photo.png" alt="presentaton bag picture" >
        </div>
    </div>
</section>
<div class="border"></div>
<div class="picture-contained">
    <div class="pic-ctn">
            <img src="img/landing-page/1.png" alt="presentaton bag picture"  width="10px">
            <img src="img/landing-page/6.png" alt="presentaton bag picture" width="10px" >
            <img src="img/landing-page/2.png" alt="presentaton bag picture"  width="10px">
            <img src="img/landing-page/4.png" alt="presentaton bag picture" width="10px">    
        </div>
    </div>

    <div class="border"></div>

<section >
    <div>
            <div class="spe-bag-contain">
                <div class="spe-bag-t">
                    <h2>Personnaliser dès maintenant vos sacs </h2>
                    <p>Développez votre commerce en laissant votre marque s'épanouir dans les rues !</p>
                    <p>Chez <span class="bold-text">Paperland </span>nous créons des sacs papier sur mesure qui ajoutent une touche distinctive à votre identité.  </p>
                    <p>Maximisez la satisfaction client avec des designs uniques.</p>
                    <p>Propagez votre marque, un sac à la fois.</p>
                    <p><span class="bold-text">Contactez-nous !</span></p>
                    <div class="contain-btn">
                        <a href="/categorie" class="btn">En savoir plus </a>
                    </div>
                </div>
                <div class="contain-img-spe-bag">
                    <img src="img/landing-page/vanLoock.png" alt="presentaton bag picture">
                </div>
                
            </div>
        </div>
        
        <div class="spe-bag-conain-2">
                <div class="contain-img-spe-bag-2">
                    <img src="img/landing-page/Sac_impression_specifique.jpg" alt="presentaton bag picture">
                </div>

                <div class="spe-bag-t-2">
                    <h2>Impressions spécifiques   </h2>
                    <p class="bold-text">Explorez l'exclusivité avec nos structures spéciales qui ajoutent une dimension unique à vos sacs plastique personnalisés. </p>
                    <p>Optez pour l'impression or pour une touche d'élégance, <span class="displayMobile"> le gaufrage pour un rendu tactile sophistiqué, l'UV local pour mettre en lumière des détails particuliers, l'impression argentique pour une brillance étincelante, le cutter pour des contours créatifs, et l'impression noire pour une esthétique moderne et chic. </span> </p>
                    <p  class="displayMobile" >Laissez libre cours à votre créativité et démarquez-vous avec des sacs plastique conçus sur mesure, reflétant l'excellence de votre marque. </p>
                    <div class="contain-btn">
                        <a href="/specific" class="btn">En savoir plus </a>
                    </div>
                </div>
            </div>  
            <div class="border"></div>
</section>


<%- include('./includes/footer.ejs') %>