<%- include('./includes/header.ejs') %>
<%- include('./includes/navBar.ejs') %>    

<section class="contain-sav-condition-section">
    <h2>Service Après Vente</h2>
    <div class="contain-sav-condition">  
        <p>Paperland et son engagement envers votre satisfaction ne se termine pas à la livraison ! </p>
        <p> Notre Service Après-Vente (SAV) est conçu pour vous offrir une tranquillité d'esprit totale, garantissant que chaque aspect de votre expérience avec nous est unique.</p>
        <p> Nous sommes prêt à répondre à toutes vos questions, préoccupations ou demandes d'assistance :</p>
        <p>Que ce soit pour résoudre les problèmes éventuels de vos commandes.</p>
        <p>Un imprévu dans le processus de livraison, etc...</p>
        <p>Nous comprenons l'importance de la confiance que vous placez en nous, et c'est pourquoi nous mettons tout en œuvre pour garantir un service après-vente exceptionnel.</p>
        <p>Nous comprenons l'importance de la confiance que vous placez en nous, et c'est pourquoi nous mettons tout en œuvre pour garantir un service après-vente correspondant à vos attentes.</p>
    </div>
</section>
<%- include('./includes/footer.ejs') %>