<%- include('./includes/header.ejs') %>
<%- include('./includes/navBar.ejs') %>
<section class="torsade-section-size">
    <h2>Sacs à poignées torsadées</h2>
    <div class="img-contain-size">
        <img src="img/plate-size-bag/1.png" alt="">
        <img src="img/plate-size-bag/7.png" alt="">
        <img src="img/plate-size-bag/8.png" alt="">
        <img src="img/plate-size-bag/10.png" alt="">
    </div>
</section>
<section class="container">
    <p>Découvrez notre gamme de sacs à poignées plate</p>
    <p>Deux qualitées de papier :</p>
            <p>Kraft Blanc Lisse</p>
            <p>Kraft Brun Lisse</p>
    
</section>

<section class="size-section">
    <h2>Dimensions</h2>
    <h3>Guide des tailles</h3>
    <p>Largeur + Soufflet x Hauteur</p>
    <div class="table-size">
        <div>
            <p>26+17x29 cm</p>
        </div>
        <div> 
            <p>32+18×33 cm</p>
        </div>
        <div>
            <p>32+22×33 cm</p>
        </div>
    </div>
</section>
<section class="size-info">
    <h2>Possibilité d'impression</h2>
    <p>Impressions recto-verso de 1 à 4 couleurs</p>
    <div>
        <p>La quantité minimum de commande par format est de 3000 sacs.</p>
        <p> &#11153 Impressions recto-verso une et deux couleurs</p>
    </div>
    <p>A partir de 5000 sacs, possibilité d'impression jusqu'à 4 couleurs</p>
</section>
<%- include('./includes/footer.ejs') %>