<%- include('./includes/header.ejs') %>
<%- include('./includes/navBar.ejs') %>
<section class="torsade-section-size">
    <h2>Sacs à poignées torsadées</h2>
    <div class="img-contain-size">
        <img src="img/torsade-bag-size/2.png" alt="presentaton bag picture">
        <img src="img/torsade-bag-size/3.png" alt="presentaton bag picture">
        <img src="img/torsade-bag-size/4.png" alt="presentaton bag picture">
        <img src="img/torsade-bag-size/6.png" alt="presentaton bag picture">
    </div>
</section>
<section class="container">
    <p>Découvrez notre gamme de sacs à poignées torsadées</p>
    <p>Deux qualitées de papier :</p>
            <p>Kraft Blanc Lisse</p>
            <p>Kraft Brun Lisse</p>
    
</section>

<section class="size-section">
    <h2>Dimensions</h2>
    <h3>Guide des tailles</h3>
    <p>Largeur + Soufflet x Hauteur</p>
    <div class="table-size">
        <div>
            <p>24+11x27 cm</p>
        </div>
        <div> 
            <p>24+11×32 cm</p>
        </div>
        <div>
            <p>26+12×36 cm</p>
        </div>
        <div>
            <p>32+12×41 cm</p>
        </div>
        <div>
            <p>36+12×41 cm</p>
        </div>
        <div>
            <p>32+16×43 cm</p>
        </div>
        <div> 
            <p>44,5+14×49 cm</p>
        </div>
    </div>
</section>
<section class="size-info">
    <h2>Possibilité d'impression</h2>
    <p>Impressions recto-verso de 1 à 4 couleurs</p>
    <div>
        <p>La quantité minimum de commande par format est de 3000 sacs.</p>
        <p> &#11153 Impressions recto-verso une et deux couleurs</p>
    </div>
    <p>A partir de 5000 sacs, possibilité d'impression jusqu'à 4 couleurs</p>
</section>
<%- include('./includes/footer.ejs') %>