<%- include('./includes/header.ejs') %>
<%- include('./includes/navBar.ejs') %>    

<section class="flex-section-specific-bag">
        <img src="img/landing-page/Sac_impression_specifique.jpg" alt=""   >
    <div class="flex-section-specific-bag-data">
        <h2>Impression spécifique</h2>
        <p>Apportez l'exclusivité avec nos structures spéciales qui ajoutent une dimension unique à vos sacs papier personnalisés. </p>
        <p>Une dorure à chaud pour une touche d'élégance, un gaufrage pour un rendu tactile sophistiqué et pour mettre en lumière vo détails particuliers choisissez l'UV sélectif. </p>
        <p>Donnez libre cours à votre créativité en vous démarquant par des sacs papier conçus pour refléter l'excellence de votre marque.</p>
    </div>
</section>
<div class="border"></div>
<section class="special-impression">
    <h2>Nos Impressions spéciales</h2>
        <div class="special-img">
            <div>
                <p>Flocage</p> 
                <img src="img/specifique-bag-page/sephora.jpg" alt=""> 
            </div>
            <div>
                <p>Vernis</p>
                <img src="img/specifique-bag-page/chanel.jpg" alt="">
            </div>
            <div>
                <p>Embossage</p>
                <img src="img/specifique-bag-page/desister.jpg" alt="" width="313px">
            </div>
            <div>
                <p>Dorure à chaud</p>
                <img src="img/specifique-bag-page/salon.jpg" alt="">
            </div>
        </div>
</section>

<%- include('./includes/footer.ejs') %>