<%- include('./includes/header.ejs') %>
<%- include('./includes/navBar.ejs') %>
<section class="flex-section">
<h1>Notre Usine</h1>
<div class="flex-info">
    <div>
        <img src="https://www.paperland.gr/cache/files/018d0c20c88885c95ca7faf1508c19c5626cbca4.jpg" alt="presentaton usine picture">
    </div>
    <div class="flex-content">
        <h2>PAPERLAND EUROPE SA</h2>
        <p>PAPERLAND EUROPE SA a été fondée en 1996 et c'est rapidement imposée comme l'un des principaux fabricants européens de sacs en papier faits à la main. </p>
        <p>Aujourd'hui, PAPERLAND EUROPE SA, est équipée de machines modernes. PAPERLAND EUROPE SA compte un personnel hautement qualifié ainsi que des installations modernes. 50 % de sa production est exportée vers le marché européen.</p>
    </div>
</div>
<div class="flex-info">
        <div class="flex-content">
            <h2> OBJECTIFS ÉLEVÉS </h2>
            <p> Avec un cahier des charges strictes, des critères élevés de qualités et d'esthétisme dans la sélection des matières premières.
             <br>   Nous  investissons constamment dans les nouvelles technologies, les ressources humaines et proposons des produits et services couverts par le système de gestion de la qualité certifié ELO TN ISO 9001:2000.</p>
        </div>
        <div>
            <img src="https://www.paperland.gr/cache/files/f83fd220085bc7f07cf37efbf0442243dd5d0b93.jpg" alt="presentaton usine picture">
        </div>
    </div>
    <div class="flex-info">
        <div class="flex-img">
            <img src="https://www.paperland.gr/cache/files/e576cab0991c0a7c1f415412008e3e05a156dcad.jpg" alt="presentaton usine picture">
            <img src="https://www.paperland.gr/cache/files/d69cded761eb455bf6a4934f8497853abf816bfd.jpg" alt="presentaton usine picture">
        </div>
        <div  class="flex-content">
            <h2>PRODUCTION  </h2>
            <p>Les idées créatives sont mises en œuvre dans une unité de production verticale par le personnel expérimenté de PAPERLAND EUROPE SA. Avec les critères de qualité et d'esthétisme les plus strictes, dans des délais de livraison prédéterminés.</p>
        </div>  
</div>
</section>




<%- include('./includes/footer.ejs') %>
