<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="css/mobile.css">
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logo/logo.png" type="image/x-icon">
    <meta name="keywords" content="Sac en papier personnalisé, Emballage papier de luxe, Sac cadeau personnalisé, Sac promotionnel en papier, Sac boutique en papier, Sac kraft personnalisé, Sac luxe en carton, Emballage haut de gamme, Sac de marque en papier, Sac événementiel en papier, Sac publicitaire en papier, Sac de shopping personnalisé, Sac en papier avec logo, Sac écologique personnalisé, Emballage sur mesure en papier">
    <script src="https://kit.fontawesome.com/0666f5c28b.js" crossorigin="anonymous"></script>
    <script src="script/app.js"></script>
    <title>PaperLand France</title>
</head>
<body>