<header>
    <div id="menuBurgeur">
        <i class="fas fa-bars"></i>
    </div>
    
    <nav id="getMenu">
            <a href="/categorie">Nos Sacs</a>
            <a href="/specific">Sacs Spécifiques</a>
            <a href="/"> Paperland France</a>
            <a href="/usine">Notre Usine </a>
            <a href="/delivery">Livraison</a>
    </nav>
</header>
<div class="border"></div>